
    


<%= form_with model: @user, url: registration_path(resource_name), local: true do |f| %>
<%= render "devise/shared/error_messages", model: @user %>
<div class = new-edit-wrapper>
<div class = new-edit-container>
  <div class="container">
    <div class="head">
      <h2>プロフィール編集</h2>
    </div>
    <div class = "ew-new-edit-wrapper">
      <%= f.text_area :nickname, class:"new-edit-nickname", id:"nickname", placeholder:"ユーザーネーム", maxlength:"10" %>
    </div>
      <%= f.email_field :email, class:"new-edit-email", id:"email", placeholder:"Email", autofocus: true %>
      <%# <%= f.password_field :current_password, autocomplete: "new-edit-password" ,placeholder:"Password(本人確認)"%> 
    <div class = user-prefecture-wrapper>
    <div class = user-prefecture-text-wrapper>
      <b class = "user-prefecture-text">出身</b>
    </div>
      <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name,  {}, {class: "user-prefecture"}) %>
    </div>
    <%= f.text_field :age, class:"new-edit-age", placeholder:"年齢：年齢を共有しましょう！" %>
    <%= f.text_field :hoby, class:"new-edit-hoby", placeholder:"趣味：趣味を共有しましょう！" %>
    <%= f.text_field :want, class:"new-edit-want", placeholder:"行きたいところ：行きたいところは？仲間が見つかるかも！" %>
    <%= f.text_field :profile, class:"new-edit-profile", placeholder:"自己紹介：あなたのことをみんなに知ってもらいましょう！" %>
    <div class = "new-edit-avatar-wrapper">
    <%= f.label :avatar, "プロフィール画像を選択", class: "avater-input-btn"%>
    <%= f.file_field :avatar, class:"new-edit-avatar"%>
    </div>
    <div class = "update-button-wrapper" id="submit" type="submit" >
      <%= f.submit "Update", class: "update-button" %>
    </div>
  </div>
</div>
</div>
  <%end%>