

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class = new-registration-wrapper>
<div class = new-registration-container>
  <div class="container">
    <div class="head">
      <h2>新規登録</h2>
    </div>
    <div class = "ew-registration-nickname-wrapper">
      <%= f.text_area :nickname, class:"new-registration-nickname", id:"nickname", placeholder:"例) トラベラー", maxlength:"10" %>
    </div>
      <%= f.email_field :email, class:"new-registration-email", id:"email", placeholder:"PC・携帯どちらでも可", autofocus: true %>
      <%= f.password_field :password, autocomplete: "new-registration-password" ,placeholder:"Password"%>
      <%= f.password_field :password_confirmation, autocomplete: "new-registration-password-confirmation",placeholder:"Password_confirmation" %>
    <div class = user-prefecture-wrapper>
    <div class = user-prefecture-text-wrapper>
      <b class = "user-prefecture-text">出身</b>
    </div>
      <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name,  {}, {class: "user-prefecture"}) %>
    </div>
    <div class="message"></div>
    <div class = "log-in-button" id="submit" type="submit" >
      <%= f.submit "Sign up", class: "new-session-log-in-btn", class: "button" %>
    </div>
  </div>
</div>
</div>
  <%end%>