<h1>hello_traveler!</h1>
<% if user_signed_in?%>
hello!<%= link_to current_user.nickname, "#"%>
<h5><%= link_to 'ログアウト',destroy_user_session_path , method: :delete, class: "logout" %></h5>
<% @tweets.each do |tweet|%>
<ul>
  <li class = "user_name"><%=link_to tweet.user.nickname, "#" %></li>
  <li class = "content"><%= tweet.content%></li>
</ul>
<%end%>
<%= form_with model: @tweet, local: true do |f| %>
<%= f.text_area :content, class:"tweet-text", id:"tweet_content", placeholder:"今どうしてる？", maxlength:"100" %>
<%= f.submit "tweet!" ,class:"send-btn" %>
<%end%>
<% else %>
<h5><%= link_to '新規登録', new_user_registration_path %></h5>
<h5><%= link_to 'ログイン', new_user_session_path  %></h5>
<%end %>



