<div class = travel-note-wrapper>

     <div class = note-title>
       <div class = note-title-text>
          <%= @tweet.title%>
       </div>
     </div>
    <div class = note-content-wrapper>
     <div class = note-content>
       <div class = note-content-text>
         <%= @tweet.content%>
        </div>
        <% if @tweet.user == current_user%>
          <div class = travel-note-delete-btn-wrapper>
          <%= link_to "削除", tweet_path, method: :delete, class: "travel-note-delete-btn"%>
        </div>
        <%end%>
      </div>
      <div class = travel-note-list>
        <div class = travel-note-list-header>
        </div>
        <div class = travel-note-list-content>
          <% @tweets.each do |tweets|%>
          <ul class = "show-travel-note-list-large-wrapper">
            <li class = show-travel-note-list-wrapper>
              <%=link_to tweets.title, tweet_path(tweets), class: "show-travel-note-list-content"%>
            </li>
          </ul>
          <%end%>
        </div>
      </div>
    </div>
    <% if user_signed_in?%>
      <%= form_with model: [@tweet, @comment], local: true do |f|%>
    <div class = comment-form-wrapper>
      <div class = travel-comment-form>
        <div class="travel-new-comment-form">
          <%= f.text_field :text, placeholder: "コメントしよう！", class: "input-text" %>
        </div>
      </div>
        <%= f.submit "コメント!", class: "travel-comment-send-btn" %>
      </div>
      <%end%>
    <% @comments.each do |comment|%>
    <div class = comment-text-wrapper>
          <div class = travel-comment-user>
            <%=link_to comment.user.nickname, user_path(comment.user.id), class: "travel-comment-user-text"%>
          </div>
          <div class = travel-comment-text>
            <%= comment.text%>
          </div>
    </div>
    <%end%>
  <%end%>
  </div>