 
<div class = users-index-background-wrapper>
<div class = "user-index-wrapper">
<% if user_signed_in?%>

 <div class = user-top-page-header>
        <div class = top-page-image-wrapper>
        <%= image_tag 'round-map.png', class: "top-page-image" %>
        </div>
        <div class = "top-page-title-text-wrapper">
        <h1 class = users-index-title-text>気になるユーザーはいましたか？</h1>
        <h1 class = users-index-title-text>トラベルノートをチェックしましょう</h1>
</div>
</div>
<%end%>



<% if user_signed_in?%>
<% @users.each do |user| %>
    <% if current_user != user %>
    <div class = "user_wrapper">
    <div class = "user-name-info">ユーザ名：<%= link_to user.nickname, user_path(user), class: "user-name"%></div>
        <% if user.followed_by?(current_user) %>
    <b class = "follow？">フォロー済</b>
        <%end%>
    
<div class = "user-prof">
      
    <ul class = "users_list">
        <li class = "profile">プロフィール</li>
        <div class = "list-content">
        <li>出身 : <%= user.prefecture.name%></li>
    <%if user.age.present?%>
        <li>年齢：<%= user.age%></li>
    <%end%>
    <% if user.hoby.present? %>
        <li>趣味：<%= user.hoby%></li>
    <%end%>
    <% if user.want.present? %>
        <li>行きたい場所：<%= user.want%></li>
    <%end%>
    <%if user.profile.present?%>
        <li class = plof><%= user.profile%></li>
    <%end%>
    </div>
    </ul>
</div>
<%= link_to(new_tweet_path, class: 'purchase-btn') do %>
  <span class='purchase-btn-text'>ノートを書く</span>
  <%= image_tag 'pen.png' , size: '185x50' ,class: "purchase-btn-icon" %>
<% end %>
</div>
    <% end %> 
  <% end %>
  <%else%>
  <%= render partial: "top-page"%> 
<% end %>
</div>
</div>


