<div class = show-wrapper>
      <div class = show-side-bar>
        <div class = "show-name-wrapper">
          <div class = "user-show-avatar-image-wrapper">
            <%if @user.avatar.attached?%>
              <%= image_tag @user.avatar.variant(resize: "70x70"), class: "user-show-avatar-image"%>
            <% else %>
              <%= image_tag "no-image.png", class: "no-avatar-image-show"%>
            <% end %>
          </div>
          <div class = show-user-name>
            <div class = "show-user-name-text"><%= @user.nickname%></div>
          </div>
          
            <%= render partial: "follow_btn", locals: {user: @user}%> 
        
        </div>
       <div class = user-show-detail-wrapper>
        <div class = show-follow_follower>
          <div class = show-follow>
            <%= link_to "フォロー数 :#{@user.followings.count}", follows_user_path(@user),class: "show-follow_count" %>
          </div>
          <div class = show-follower>
            <%= link_to "フォロワー数 :#{@user.followers.count}", followers_user_path(@user), class: "show-follower_count" %>
          </div>
        </div>
       
          <div class = show-detail-list> 
            出身：<%= @user.prefecture.name%>
          </div>
          <div class = show-detail-list>
            <%if @user.age.present?%>
              年齢：<%= @user.age%>
            <%end%>
          </div>
          <div class = show-detail-list>
            <% if @user.hoby.present? %>
              趣味：<%= @user.hoby%>
            <%end%>
          </div>
          <div class = show-detail-list>
            <% if @user.want.present? %>
              行きたい場所：<%= @user.want%>
            <%end%>
          </div>
          <div class = show-detail-prof>
            <%if @user.profile.present?%>
              <%= @user.profile%>
            <%end%>
          </div>
        </div>
        
      </div>
      <div class = show-main-bar>
        <div class = show-travel-wrapper>
          <div class = show-travel-note-title>
            トラベルノート
          </div>
        </div>
        <div class = show-travel-note>
        <% @tweets.each do |tweets|%>
          <ul class = show-note-list>
            <li class = show-note>
              <%=link_to tweets.title, tweet_path(tweets), class: "show-note-content"%>
            </li>
              <%end%>
            </ul>
        </div>
        <%= link_to(new_tweet_path, class: 'purchase-btn') do %>
          <span class='purchase-btn-text'>ノートを書く</span>
          <%= image_tag 'pen.png' , size: '185x50' ,class: "purchase-btn-icon" %>
          <% end %>
      </div>
