<!DOCTYPE html>
<html>
  <head>
    <title>TRAVEL-NOTE</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <%= favicon_link_tag('favicon.ico') %>
  </head>

  <body>
  
    <header>
    <div class = "heading"> 
        <%= link_to root_path, class: :title_logo do%>
          <%=image_tag "round-map.png", class: "header-image"%>
          <h1 class = title_logo-text>"TRAVEL<span>-</span>NOTE"</h1>
        <%end%> 
    </div>
    <div class = "navbar">
      <ul class = "menu">
        <li><%= render 'users/sign_in',  locals: {user: @user}%></li>
      </ul>
    </div>
  </header>


    <%= yield %>


  </body>
</html>
